    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Frame-Options" content="sameorigin">
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html | strip_newlines | truncate: 160 }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html | strip_newlines | truncate: 160 }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% else %}
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="twitter:title" content="{{ site.title }}" />
    {% endif %}